
input{
   margin: 10px;
}
#demo {
   border: 1px solid red;
   padding: 5px 10px;
}
#datalist {
   border: 1px solid red;
   padding: 5px 10px;
}
#data {
   border: 1px solid blue;
   margin: 10px 0;
   padding: 5px 10px;
}
table{
   width:100%;
}
tr{
   display: block;
   position: relative;
}
td{
   display: inline-block;
   position: relative;
   width: 25%;
   margin: 5px;
   padding: 0 10px;
   text-align: left;
   border: 1px solid green;
}